nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    font-size: 1.1em;
    width: 100%;
    margin: 0;
    z-index: 200;
    color: rgb(40, 40, 40);
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
    position: fixed;
    top: 0;
}

.navBtns ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-right: 3em;
    font-weight: 600;
    padding: 1em 3em 1em 1em;
    margin: 0.3em;
}

ul li {
    list-style: none;
}

ul a:hover {
    color: rgb(3, 108, 188);
    cursor: pointer;
}

.logoParagraph {
    font-weight: 800;
    padding: 1.3em 1.3em 1.3em 3em;
    align-self: center;
}

.navBtns {
    display: flex;
}

.navBtns svg {
    width: 1.5em;
    display: none;
    margin-right: 2em;
}

.mobile-nav {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all .3s ease-in-out;
    width: 100%;
    z-index: 300;
    height: 100%;
}

.mobile-nav ul {
    display: flex;
    flex-direction: column;
    font-size: 2.3rem;
    gap: 4rem;
    list-style: none;
}

.mobile-nav span {
    cursor: pointer;
    font-size: 3.3rem;
    position: absolute;
    right: 4rem;
    top: 2rem;
}

.mobile-nav ul a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.5em;
}

.open-menu {
    left: 0 !important;
}

.closed-menu {
    left: -100% !important;
}


@media (max-width: 900px) {
    .navBtns svg {
        display: inline;
    }

    .navBtns ul {
        display: none;
    }

    button {
        background: transparent;
        border: none;
        padding: 0;
        height: 22px;
        width: 46.66px;
        align-self: center;
    }


}

@media (max-width: 450px) {

    .logoParagraph {
        font-size: 1.1em;
        padding: 0.8em 2em;
    }

    .mobile-nav ul a {
        font-size: 0.7em;
    }

    .mobile-nav ul {
        padding: 0;
    }

    .navBtns button {
        margin-right: 1.3em;
    }

}